### python <= 3.9 required

torch
numpy
pandas
scikit-learn

torchio
pytorch-lightning==2.0.8
albumentations
loguru
transformers
attrdict
pyyaml
timm
segmentation-models-pytorch-3d
tensorboard
wandb
torchinfo
